<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <img src="path/to/bootstrap-logo.png" alt="Bootstrap Logo">
        <p>Designed and built with all the love in the world by the Bootstrap team with the help of our contributors.</p>
        <p>Code licensed MIT, docs CC BY 3.0.</p>
        <p>Currently v5.3.3.</p>
      </div>
      <div class="col">
        <h5>Links</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Docs</a></li>
          <li><a href="#">Examples</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">Themes</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Swag Store</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Guides</h5>
        <ul>
          <li><a href="#">Getting started</a></li>
          <li><a href="#">Starter template</a></li>
          <li><a href="#">Webpack</a></li>
          <li><a href="#">Parcel</a></li>
          <li><a href="#">Vite</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Projects</h5>
        <ul>
          <li><a href="#">Bootstrap 5</a></li>
          <li><a href="#">Bootstrap 4</a></li>
          <li><a href="#">Icons</a></li>
          <li><a href="#">RFS</a></li>
          <li><a href="#">Examples repo</a></li>
        </ul>
      </div>
      <div class="col">
        <h5>Community</h5>
        <ul>
          <li><a href="#">Issues</a></li>
          <li><a href="#">Discussions</a></li>
          <li><a href="#">Corporate sponsors</a></li>
          <li><a href="#">Open Collective</a></li>
          <li><a href="#">Stack Overflow</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
