{% load static %}
<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'mentor/og.ico' %}" alt="Bootstrap Logo">
                <p>Wedooo is the peace of mind so just blow it.</p>
                <p>MOUSE</p>
                <p>#COOL_AREA.</p>
            </div>
            <div class="col">
                <h5>Links</h5>
                <ul>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Guides</h5>
                <ul>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Projects</h5>
                <ul>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>Community</h5>
                <ul>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="#">wedooo</a></li>
                    <li><a href="https://t.me/Btmmb">wedooo</a></li>
                </ul>
            </div>
            <div class="col">
                <h5>More about me</h5>
                
                <ol>
                    <li><a href="yeah yeah">come to me</a></li>
                    <li><a href="">buganda</a></li>
                    <li><a href="">singout</a></li>
                </ol>

            </div>
        </div>
    </div>
</footer>
